In [148]:
import pandas as pd

In [149]:
df = pd.read_csv("insurance.csv")
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [151]:
df['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [152]:
gender=['male','female']
smoker=['no','yes']
region=['southeast','southwest','northwest','northeast']
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder(categories=[gender,smoker,region])
enc.fit(df[['sex','smoker','region']])
en_df= pd.DataFrame(enc.transform(df[['sex','smoker','region']]),columns=['sex','smoker','region'])

In [180]:
df_drop=df.drop(['sex','smoker','region'],axis=1)
df_new =pd.concat([en_df,df_drop],axis='columns')
df_new.head(5)

   sex  smoker  region  age     bmi  children      charges
0  1.0     1.0     1.0   19  27.900         0  16884.92400
1  0.0     0.0     0.0   18  33.770         1   1725.55230
2  0.0     0.0     0.0   28  33.000         3   4449.46200
3  0.0     0.0     2.0   33  22.705         0  21984.47061
4  0.0     0.0     2.0   32  28.880         0   3866.85520

In [154]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   bmi       1338 non-null   float64
 2   children  1338 non-null   int64
 3   charges   1338 non-null   float64
 4   sex       1338 non-null   float64
 5   smoker    1338 non-null   float64
 6   region    1338 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 73.3 KB

In [191]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(df_new)
df_new=scaler.transform(df_new)
df_new

array([[1.        , 1.        , 0.33333333, ..., 0.3212268 , 0.        ,
        0.25161076],
       [0.        , 0.        , 0.        , ..., 0.47914985, 0.2       ,
        0.00963595],
       [0.        , 0.        , 0.        , ..., 0.45843422, 0.6       ,
        0.05311516],
       ...,
       [1.        , 0.        , 0.        , ..., 0.56201238, 0.        ,
        0.00810808],
       [1.        , 0.        , 0.33333333, ..., 0.26472962, 0.        ,
        0.01414352],
       [1.        , 1.        , 0.66666667, ..., 0.35270379, 0.        ,
        0.44724873]])

In [192]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df_new[:,:-1], df_new[:,-1],test_size=0.2 ,random_state=0)

In [193]:
from sklearn.ensemble import GradientBoostingRegressor
clf = GradientBoostingRegressor()
clf.fit(X_train,y_train)

GradientBoostingRegressor()

In [194]:
clf.score(X_test,y_test)

0.8974108074044042

In [195]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(random_state=0)
model.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [196]:
model.score(X_test,y_test)

0.6720600209965533

In [199]:
from xgboost import XGBRegressor
model_1 = XGBRegressor()

In [200]:
model_1.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [201]:
model_1.score(X_test,y_test)

0.8301054874052247