In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("insurance.csv")
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [10]:
gender=['male','female']
smoker=['no','yes']
region=['southeast','southwest','northwest','northeast']
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder(categories=[gender,smoker,region])
enc.fit(df[['sex','smoker','region']])
en_df= pd.DataFrame(enc.transform(df[['sex','smoker','region']]),columns=['sex','smoker','region'])

In [15]:
df_drop=df.drop(['sex','smoker','region'],axis=1)
df_new =pd.concat([en_df,df_drop],axis='columns')
df_new.head(5)

   sex  smoker  region  age     bmi  children      charges
0  1.0     1.0     1.0   19  27.900         0  16884.92400
1  0.0     0.0     0.0   18  33.770         1   1725.55230
2  0.0     0.0     0.0   28  33.000         3   4449.46200
3  0.0     0.0     2.0   33  22.705         0  21984.47061
4  0.0     0.0     2.0   32  28.880         0   3866.85520

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df_new.drop(['charges'],axis=1), df_new['charges'],test_size=0.2 ,random_state=0)

In [14]:
X_train

      sex  smoker  region  age     bmi  children
621   0.0     1.0     1.0   37  34.100         4
194   0.0     0.0     0.0   18  34.430         0
240   1.0     1.0     3.0   23  36.670         2
1168  0.0     0.0     1.0   32  35.200         2
1192  1.0     0.0     3.0   58  32.395         1
...   ...     ...     ...  ...     ...       ...
763   0.0     0.0     3.0   27  26.030         0
835   0.0     0.0     0.0   42  35.970         2
1216  0.0     0.0     0.0   40  25.080         0
559   0.0     0.0     2.0   19  35.530         0
684   1.0     0.0     1.0   33  18.500         1

[1070 rows x 6 columns]

In [22]:
from sklearn.tree import DecisionTreeRegressor
clf = DecisionTreeRegressor(random_state=0)
clf.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [23]:
clf.score(X_test,y_test)

0.6728095081986316

In [24]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor()
model.fit(X_train,y_train)

GradientBoostingRegressor()

In [25]:
model.score(X_test,y_test)

0.8974527015515742

In [26]:
from xgboost import XGBRegressor
model_1 = XGBRegressor()
model_1.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [27]:
model_1.score(X_test,y_test)

C:\Users\User\anaconda3\envs\AI_MachineLearning\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

0.8593023882192095